<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <style>
        .product{
            margin: 2em;
            padding: 1em;
            border: 2px solid skyblue;
            display: inline-block;
        }
    </style>
</head>
<body>
    <h1>Welcome to our Shop!</h1>
    <a href="/cart">Checkout</a>
        {{#each products}}
            <div class="product">
                <h3>{{name}}</h3>
                <p>Price: {{price}}</p>
                <a href="/add/{{@index}}">Add to Card</a>
            </div>
        {{/each}}
</body>
</html>