<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
</head>
<body>
<h1>Login to shop</h1>
<form method="POST" action="/login">
    <p>Username:</p>
    <input type="text" name="username">
    <br>
    <p>Password:</p>
    <input type="password" name="password">
    <input type="submit">
</form>
</body>
</html>